{% extends "core.html" %}
{% block content %}
{% if p %}<h4>Previous day: <a href="{{ url_for("log", day=p) }}">{{ p.split(".log")[0] }}</a></h4>{% endif %}
{% if n %}<h5>Next day: <a href="{{ url_for("log", day=n) }}">{{ n.split(".log")[0] }}</a></h5>{% endif %}
<blockquote>
{% for line in parsed_data %}
<p style="display:block">
  <time style="float:right">{{ line.time }}</time>
  {% if line.type == "message" %}
    <strong>{{ line.object }}{{ ":"|e }}</strong> {{ line.content }}
  {% elif line.type == "action" %}
    <strong>{{ line.object }} {{ line.action }}</strong>
  {% elif line.type == "nickchange" %}
    <h4>{{ line.object }} {{ "->"|e }} {{ line.target }}</h4>
  {% elif line.type == "join" %}
    <h4>{{ "++"|e }} {{ line.object }}</h4>
  {% elif line.type == "quit" %}
    <h4>{{ "--"|e }} {{ line.object }}</h4>
  {% elif line.type == "topicchange" %}
    <h5>topic = <em>{{ line.target }}</em></h5>
  {% else %}
    {{ line.message }}
  {% endif %}
</p>
{% endfor %}
</blockquote>
{% if p %}<h5>Previous day: <a href="{{ url_for("log", day=p) }}">{{ p.split(".log")[0] }}</a></h5>{% endif %}
{% if n %}<h4>Next day: <a href="{{ url_for("log", day=n) }}">{{ n.split(".log")[0] }}</a></h4>{% endif %}
{% endblock content %}
